body {
  font-family: verdana;
}

nav ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
}

.Links{
  margin-left: 1rem;
}

.routine{
  list-style: none;
}

.ByLine{
  display: flex;
  align-items:center;
}

.ByLine > * {
  margin-right: .5rem;
}

/*Login Page*/
#userAcess{
  display: flex;
  justify-content: center;
}

#login >form, #register >form{
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}

.MyRoutine{
  background-color: limegreen;
}